// Variables

$base-color: #1c4e46;
$font-color: #ffffff;

$base-font: "Montserrat", sans-serif;
$heading-font: "Oswald", sans-serif;

// Contact Container
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1140px;
  margin: 4rem auto 6rem auto;
  padding: 0 1rem;
  font-family: $base-font;

  h1 {
    font-family: $heading-font;
    font-size: 8rem;
    margin: 0 0 2rem 0;
    letter-spacing: 1px;
  }

  .form-container {
    margin: 6rem 0 3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form {
      padding: 6rem;
      background-color: #ffffff;
      color: $base-color;
      min-width: 70rem;

      .names {
        display: flex;

        margin-bottom: 3rem;
        .first-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          margin-right: 2rem;
          flex: 1;
        }
        .last-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          flex: 1;
        }
      }

      .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-bottom: 3rem;
      }
      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-bottom: 3rem;
      }
      // Label styling
      label {
        margin-bottom: 1.5rem;
      }

      // Input values styling
      input {
        font-size: 1.8rem;

        color: $base-color;
        padding: 0.75rem 1rem;
        border: 0;
        border-bottom: 3px solid #1c4e46;
        outline: none;
        &:focus {
          border-bottom: 3px solid orange;
        }
      }

      // Textarea
      textarea {
        resize: none;
        font-size: 1.8rem;
        font-family: $base-font;
        font-weight: 500;
        color: $base-color;
        padding: 0.75rem 1rem;
        border: 0;
        border-bottom: 3px solid #1c4e46;
        outline: none;
        &:focus {
          border-bottom: 3px solid orange;
        }
      }
    }
    .submit-btn {
      cursor: pointer;
      border: 0;
      padding: 1rem 1.5rem;
      border: 1px solid #1c4e46;
      background-color: #1c4e46;
      color: #fff;
      font-size: 2rem;
      transition: all 0.2s ease;
      &:hover {
        border: 1px solid #1c4e46;
        background-color: #fff;
        color: #1c4e46;
      }
    }
  }
}
